@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');



:root {
    --background-color: #4E94F4;
    --cursor: pointer;
    --font-family: 'Open Sans'
}

.signinBody {
     background: url('https://thumbs.dreamstime.com/z/balanced-diet-food-background-balanced-diet-food-background-organic-food-healthy-nutrition-superfoods-meat-fish-legumes-nuts-121936796.jpg?w=992'); 
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    display: flex;
}


.signinbody-left,
.signinbody-right {
    width: 50%;
}

.signinbody-left {
    float: left;
    font-family: var(--font-family);
    color: #FFFFFF;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.signinbody-left h1 {
    width: 50%;
    margin-left: 20rem;
    margin-top: 20%;
    color: #FFFFFF;
}



.signinbody-right .signin-form-Wrapper {
    width: 45%;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-family: var(--font-family);
    padding-right: 2.5rem;
    margin-top: 10%;
    margin-right: 5rem;
    float: right;

}

.signinbody-right .signin-form-Wrapper .form-navbar {
    display: flex;
    justify-content: space-between;
}

.form-navbar-toggles:first-child {
    border-right: 0.5px solid rgb(222, 220, 220);
}

.signinbody-right .signin-form-Wrapper .form-navbar .form-navbar-toggles {
    width: 50%;
    padding: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-bottom: 0.5px solid rgb(222, 220, 220);
}

.form-navbar-toggles:hover {
    background-color: rgb(248, 247, 247);
    cursor: var(--cursor);
}

.signinbody-right .signin-form-Wrapper .signin-form {
    margin-top: 1.5rem;
}

.signin-form h3 {
    margin-bottom: 1rem;
}

.signinbody-right .signin-form-Wrapper .form-input-fields input {
    border: 1px solid #D1D1D1;
    outline: none;
    height: 3rem;
    width:100%;
    border-radius: 0.2rem;
    margin-block-start: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
}

.register-passwordError {
    margin-left: 0.5rem;

}

.signin-form-Wrapper .form-footer {
    display: flex;
    justify-content: space-between;
    line-height: 3rem;
    margin-top: 2rem;
}

.signin-form-Wrapper .form-footer .signin {
    font-size: 1rem;
    text-align: left;
    color: #4E94F4;
    font-weight: bolder;
    align-self: last baseline;
    cursor: var(--cursor);
}

.signin-form-Wrapper .form-footer button {
    height: 2.5rem;
    width: 6rem;
    align-self: last baseline;
    background-color: #4E94F4;
    color: #FFFFFf;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    cursor: var(--cursor);

}


@media only screen and (min-width:100px) and (max-width:1200px) {
    .signinBody {
        height: fit-content;
        flex-direction: column;
        align-items: center;
        padding-bottom: 4rem;

    }

     /* .signinbody-left,
    .signinbody-right {
        width: 100%;
    } */ 

    .signinbody-left {
        display: flex;
        color: #FFFFFF;
        width: 100%;
        flex-direction: column;
    } 
 

    .signinbody-left h1 {
        width: 90%;
        margin-left: 0rem;
        margin-top: 6rem;
        align-self: center;
        color: #FFFFFF;
        text-align: center;
        font-size: 2.5rem;
    }


    .signinbody-left .end-user-btn {
        margin-left: 0rem;
        margin-top: 2rem;
        align-self: center;
    }


    .signinbody-right .signin-form-Wrapper {
        width: 90%;
        height: fit-content;
        margin-right: 0rem;
        margin: auto;
        margin-top: 3rem;
        float: none;
    }


}